nav {
  list-style-type: none;
  background-color: crimson;
  position: fixed;
  color: white; 
  font-size: 60px;
  text-align: center; 
  font-family: "Lucida Console", "Courier New", monospace;
  top: 0;
  width: 100vw;
  left: 0;
  padding: 5px
}

li {
  display: inline;
  padding: 40px;
}

li:hover {
  background-color: gold;
}

a {
  text-decoration: none;
  color: white;
}
